html {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 16px;
}

html, body, #app {
  height: 100%;
}

body {
  background: #2E2E2E;
  /* Firefox scrollbar */
  scrollbar-width: thin;
  scrollbar-color: #2E2E2E #DDDDDD;
}

::-webkit-scrollbar-track {
  border: 1px solid $key_color_border;
  border-radius: 3px;
  background-color: #DDDDDD;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #2E2E2E;
  border-radius: 3px;

  &:hover {
    background-color: lighten(#333, 20);
  }
}
