

$color_blue: #2EB1D0;
$color_purple: #AF55D7;
$color_green: #4DD584;
$color_yellow: #DFD565;
$color_orange: #E8A44A;
$color_grey: #607D8B;
$window_radius: 8px;

.app-root {
  min-width: 700px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;


  .piano-loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .piano-body {
    position: absolute;
    z-index: 1;
    flex-shrink: 0;
    border-radius: $window_radius;
    width: 515px;
    padding: 50px;
    padding-top: 0;
    margin: 0 auto;
    background: $piano_background;
    backdrop-filter: saturate(180%) blur(20px);
    user-select: none;
    @include macBoxShadow();

    & > h5 {
      user-select: none;
      background: linear-gradient(180deg, #fff, #ddd);
      border: 1px solid $key_color_border;
      border-top: none;
      border-radius: 0 0 $window_radius $window_radius;
      text-align: center;
      font-size: 13px;
      font-weight: 600;
      padding: 5px 0;
      margin: 0 0 30px;
    }

    .info-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;

      .desc {
        display: inline-block;
        padding: 3px 5px;
        background: $color_blue;
        color: #fff;
        font-size: 12px;
        border-radius: 3px;

        select {
          background: $color_grey;
          color: #fff;
          border: none;
          border-radius: 3px;
          padding: 0;
        }

        &.pro {
          background: $color_purple;
        }

        &.pro2 {
          background: $color_green;
        }

        &.pro3 {
          background: $color_grey;
        }

        & + .desc {
          margin-left: 5px;
        }
      }
    }

    .key + .key {
      margin-left: 2px;
    }

    .main-keyboard-wrap {
      position: relative;

      .key.black {
        // position: absolute
        // transform translateX(-15px)
      }
    }

    .control-wrap {
      margin-top: 2px;
      padding-left: 25px;

      .key:nth-child(1), .key:nth-child(2) {
        background: $color_yellow;

        &:active, &.pressed {
          background: darken($color_yellow, 10);
        }
      }

      .key:nth-child(3), .key:nth-child(4) {
        background: $color_orange;

        &:active, &.pressed {
          background: darken($color_orange, 10);
        }
      }
    }

    .mini-keyboard-wrap {
      margin-top: 10px;
      margin-bottom: 10px;
      width: auto;
      height: 60px;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;

      .octave {
        max-width: 224px; // fix Safari
        display: inline-block;
        border: 1px solid transparent;
        border-radius: 3px;
        overflow: hidden;

        & + .octave {
          margin-left: 4px;
        }

        &.active {
          border-color: $color_purple;
        }
      }
    }
  }
}
